___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [2]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [12]:
print(pd.__version__)
print(pd.show_versions())

1.2.4

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 20.4.0
Version          : Darwin Kernel Version 20.4.0: Thu Apr 22 21:46:47 PDT 2021; root:xnu-7195.101.2~1/RELEASE_X86_64
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : None
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.7
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1
None

In [22]:
df = pd.read_csv('Ecommerce Purchases.csv')
print(df)

                                                Address    Lot AM or PM  \
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                      Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3                 7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM
...                                                 ...    ...      ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  92 XI       PM
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  41 JY       AM
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  74 Zh       AM
9998               0096 English Rest\nRoystad, IA 12457  74 cL       PM
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  64 Hr       AM

                                           Browser Info  \
0     Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1     Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4     Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
...                                                 ...
9995  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999  Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...

                              Company       Credit Card CC Exp Date  \
0                     Martinez-Herman  6011929061123406       02/20
1     Fletcher, Richards and Whitaker  3337758169645356       11/18
2          Simpson, Williams and Pham      675957666125       08/19
3     Williams, Marshall and Buchanan  6011578504430710       02/24
4           Brown, Watson and Andrews  6011456623207998       10/25
...                               ...               ...         ...
9995                    Randall-Sloan   342945015358701       03/22
9996         Hale, Collins and Wilson   210033169205009       07/25
9997                     Anderson Ltd  6011539787356311       05/21
9998                         Cook Inc   180003348082930       11/17
9999                       Greene Inc  4139972901927273       02/19

      CC Security Code                  CC Provider  \
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
...                ...                          ...
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

                               Email                                     Job  \
0                  pdunlap@yahoo.com  Scientist, product/process development
1                 anthony41@reed.com                       Drilling engineer
2     amymiller@morales-harrison.com                Customer service manager
3        brent16@olson-robinson.info                       Drilling engineer
4        christopherwright@gmail.com                             Fine artist
...                              ...                                     ...
9995          iscott@wade-garner.com                              Printmaker
9996              mary85@hotmail.com                         Energy engineer
9997               tyler16@gmail.com                      Veterinary surgeon
9998         elizabethmoore@reid.net                Local government officer
9999           rachelford@vaughn.com                  Embryologist, clinical

           IP Address Language  Purchase Price
0     149.146.147.205       el           98.14
1        15.160.41.51       fr           70.73
2      132.207.160.22       de            0.95
3        30.250.74.19       es           78.04
4        24.140.33.94       es           77.82
...               ...      ...             ...
9995    29.73.197.114       it           82.21
9996   121.133.168.51       pt           25.63
9997    156.210.0.254       el           83.98
9998     55.78.26.143       es           38.84
9999  176.119.198.199       el           67.59

[10000 rows x 14 columns]

Скільки рядків і стовпців в наборі даних:

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB
None

Перевірити, чи в наборі даних містяться порожні значення:

In [24]:
df.isnull().values.any()

False

Яка середня ціна закупки (Purchase Price):

In [26]:
df["Purchase Price"].mean()

50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [27]:
df.Language.value_counts()["en"]

1098

Скільки людей має посаду «Lawyer»?

In [34]:
df.Job.value_counts()["Lawyer"]

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [31]:
df["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

Які 5 найпоширеніших назв вакансій?

In [32]:
df["Job"].value_counts()[:5].index.tolist()

['Interior and spatial designer',
 'Lawyer',
 'Social researcher',
 'Designer, jewellery',
 'Purchasing manager']

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [65]:
df[df["Lot"] == "90 WT"]["Purchase Price"].values

array([75.1])

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [67]:
df.loc[df["Credit Card"] == 4926535242672853]["Email"].values

array(['bondellen@williams-garza.com'], dtype=object)

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [76]:
df[(df["CC Provider"]=="American Express") & (df["Purchase Price"]>100)].value_counts()

Series([], dtype: int64)

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [97]:
df[df["CC Exp Date"].str.contains("/25")]["Company"].count()

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [102]:
df["Email"].str.split("@").str[1].value_counts()[:5].index.tolist()

['hotmail.com', 'yahoo.com', 'gmail.com', 'smith.com', 'williams.com']

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [132]:
df[["Browser Info","Job","Purchase Price"]]

,Browser Info,Job,Purchase Price
0,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,"Scientist, product/process development",98.14
1,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,Drilling engineer,70.73
2,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Customer service manager,0.95
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,Drilling engineer,78.04
4,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,Fine artist,77.82
...,...,...,...
9995,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Printmaker,82.21
9996,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Energy engineer,25.63
9997,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Veterinary surgeon,83.98
9998,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Local government officer,38.84
9999,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Embryologist, clinical",67.59

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [135]:
df.loc[df["Purchase Price"]>50, 'Actual Price'] = (df['Purchase Price']*0.2+df['Purchase Price'])
df.loc[df["Purchase Price"]>100, 'Actual Price'] = (df['Purchase Price']*0.1+df['Purchase Price'])
df.loc[df["Purchase Price"]<=50 , 'Actual Price'] = (df['Purchase Price']*0.3+df['Purchase Price'])
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,98.652
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,33.319
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,100.776
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,50.492
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,81.108

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [142]:
new_df=df[["Language","Actual Price"]]
new_df.rank(ascending =  False)

      Language  Actual Price
0       8277.0         191.0
1       4967.0        2988.5
2       9423.0        9894.5
3       6063.0        2256.0
4       6063.0        2279.5
...        ...           ...
9995    3875.5        1852.5
9996    2773.5        7450.0
9997    8277.0        1659.0
9998    6063.0        6126.0
9999    8277.0        3294.0

[10000 rows x 2 columns]

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [151]:
pd.get_dummies(df["Language"])
a=df.drop(labels="Language",axis=1)
a

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price,Actual Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,77.82,93.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,82.21,98.652
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,25.63,33.319
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,83.98,100.776
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,38.84,50.492
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,67.59,81.108

Кінцевий набір даних збережіть у файл з розширенням csv.

In [163]:
a.to_csv("DB_df.scv",index=False)