___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [34]:
import requests 

r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json').json()

2. Отримати курс долара за останній рік.

In [35]:
from datetime import datetime, timedelta

DATA_BASE = []

'''Function to conncet to the bank api'''

def apiConv(date):
    parameter = {'date': date.strftime('%Y%m%d'), 'valcode' : 'USD'}
    r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json',params = parameter)
    if r.status_code == 200:
        return r.json()[0]['rate']
    return None

'''Function to go through a given period of time to create a list of exchange values starting from today'''
def groupTogether(period):
    date = datetime.today()
#     x = date.month
    rate = apiConv(date)
    DATA_BASE.append(rate)
    for i in range(period-1):
        date = date - timedelta(days=1)
        rate = apiConv(date)
        DATA_BASE.append(rate)


        
if __name__ == '__main__':
    period = int(input(' input number of days '))
    groupTogether(period)
    print(DATA_BASE)

 input number of days 10
[28.0642, 28.0576, 28.0096, 28.0087, 27.9783, 27.9592, 27.9592, 27.9592, 27.9765, 28.0156]

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [47]:
from datetime import datetime, timedelta
import statistics

month_dict = {}
result = []
#Same as in lesson

def month_Meanstd(data):
    x=[1,3123,123,123,123,123,123,123,123,123,123,1]
    y=[123,125,12,51,2512,5,125,125,125,125,125,12]
    for i in range(1,len(data)-1):
        x[i]=statistics.mean(data[i])
        y[i]=statistics.stdev(data[i])
    x.pop(0)
    y.pop(0)
    
    return x,y

def apiConv(date):
    parameter = {'date': date.strftime('%Y%m%d'), 'valcode' : 'USD'}
    r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json',params = parameter)
    if r.status_code == 200:
        return r.json()[0]['rate']
    return None

def groupTogether(period):
    date = datetime.today()
#First I check today's date
#than I loop through the period of time given by input
#I create a dictionary with key=month
#if the key is new-I create a key and add the value to this new
#if the key is old-I add the value to a given key
    for i in range(period):
        date = date - timedelta(days=1)
        month = date.month
   
        key = month
        rate = apiConv(date)
      #  print(f" day {date.day}, month {date.month}")
        
        if month_dict.get(key, None):
            result[month_dict[key]].append(rate)
            
        else:
            result.append([rate])
            month_dict[key] = len(result) - 1


if __name__ == '__main__':
    period = int(input('input number of days'))
    groupTogether(period)
#     for i in month_dict:
#         print (i, month_dict)
    #print(result)
    final=month_Meanstd(result)
    print(final)

input number of days365
([27.68778620689655, 27.79555806451613, 27.884660714285715, 28.219770967741937, 28.16971935483871, 28.310153333333332, 28.324951612903227, 27.97671666666667, 27.52141935483871, 27.31283870967742, 26.707343333333334], [0.4083267211823482, 0.11551466219833594, 0.10631085913415092, 0.1231532113359842, 0.24976838393380232, 0.1508870820853458, 0.055517948274816174, 0.2409137677795668, 0.14819453525541967, 0.3642097762530265, 0.07284717438646436])

In [36]:
# from datetime import datetime, timedelta
# import statistics

# month_dict = {}
# result = []

# def month_Meanstd(data):
#     x=[]
#     y=[]
#     for i in range(0,len(data)):
#         x[i]=statistics.mean(data[i])
#         y[i]=statistics.std(data[i])
#         print(x,y)
#     return x,y

# def apiConv(date):
#     parameter = {'date': date.strftime('%Y%m%d'), 'valcode' : 'USD'}
#     r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json',params = parameter)
#     if r.status_code == 200:
#         return r.json()[0]['rate']
#     return None

# def groupTogether(period):
#     date = datetime.today()
#     month = date.month
#     key = month
#     rate = apiConv(date)
#     result[month_dict[key]].append(rate)
#     for i in range(period):
#         date = date - timedelta(days=1)
#         month = date.month
#         rate = apiConv(date)
#         key = month
#         rate = apiConv(date)
#       #  print(f" day {date.day}, month {date.month}")
#         if month_dict.get(key, None):
#             result[month_dict[key]].append(rate)
# #             if "4" in month_dict:
# #                 print("EXIST 4")
# #             if "3" in month_dict:
# #                 print("EXIST 3")
#         else:
#             result.append([rate])
#             month_dict[key] = len(result) - 1

# #             if "4" in month_dict:
# #                     print("EXIST 4")
# #             if "3" in month_dict:
# #                     print("EXIST 3")


# if __name__ == '__main__':
#     period = int(input('input number of days'))
#    # groupTogether(period)
#     #for i in month_dict:
#      #   print (i, month_dict)
#     final= month_Meanstd(result)
#     print(result)

input number of days30
[]

4. Дану інформацію записати у файл за допомогою pickle.

In [48]:
# import sqlite3

# conn = sqlite3.connect('my_db.sqlite3')

# curs = conn.cursor()
# curs.execute("CREATE TABLE new_table (element TEXT)")
# conn.close()

import pickle 

with open ('monthly_exchange.pickle','wb') as f:
    pickle.dump(final,f)

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [145]:
import requests
from bs4 import BeautifulSoup
import sqlite3



BASE = {}
PAGES = ['https://smallpacking.agrosem.ua/shop/','https://smallpacking.agrosem.ua/shop/page/2/','https://smallpacking.agrosem.ua/shop/page/3/']
INFO = []


HEADERS = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0',
            'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
            'Accept-Language': 'en-US,en;q=0.5',
            'Accept-Encoding': 'gzip, deflate',
            'DNT': '1',
            'Connection': 'keep-alive',
            'Upgrade-Insecure-Requests': '1'
        }

cnt = 0

for page in range(0,3):
    
    r = requests.get(PAGES[page], headers = HEADERS)

    if r.status_code == 200:
        
        soup = BeautifulSoup(r.text, 'lxml')
        
        for el in soup.find_all('div', class_='product-from-category-container'):
            
            if r.status_code == 200:
                
                soup = BeautifulSoup(r.text, 'lxml')
                link = el.find('a').get('href')
                tmp = [link]
                BASE[cnt] = tmp
                cnt = cnt + 1
#print(len(BASE))

for k in BASE:
    r = requests.get(BASE[k][0], headers=HEADERS)
    if r.status_code == 200:
        soup = BeautifulSoup(r.text, 'lxml')
        itemName = soup.find('div', class_ = 'atributes-description').h2.text
        itemCode = soup.find('span', class_ = 'sku').text
        itemPrice = soup.find('span',class_ = 'regular-price').text
        itemWeight = soup.find('tr', class_ = 'woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pa_fasovka-dobriv').find('p').text

   # print(itemName,itemCode,itemPrice,itemWeight)
        info = {'Item_Code': itemCode,
               'Item_Name': itemName,
               'Item_Price': itemPrice,
               'Item_Weight': itemWeight}
        INFO.append(info)

        
x=[]
y=[]
z=[]
m=[]

for i in range(0,len(INFO)):
    x.append(INFO[i].get('Item_Code'))
    y.append(INFO[i].get('Item_Name'))
    z.append(INFO[i].get('Item_Price'))
    m.append(INFO[i].get('Item_Weight'))

import pandas as pd
for i in range (0,len(INFO)):
    data=pd.DataFrame({'Item_Code':x,'Item_Name':y,'Item_Price':z,'ITEM_Weight':m})
data

,Item_Code,Item_Name,Item_Price,ITEM_Weight
0,SKU: 439226,Добриво для фруктових та горіхових дерев,415 грн,"1 кг, 3 кг"
1,SKU: 1297,Добриво для ягідних чагарників,415 грн,"1 кг, 3 кг"
2,SKU: 91897,Добриво для ягідних чагарників,173 грн,"1 кг, 3 кг"
3,SKU: 61169,Добриво універсальне грунтове,173 грн,"1 кг, 10 кг, 3 кг"
4,SKU: 6651824,Добриво універсальне грунтове,415 грн,"1 кг, 10 кг, 3 кг"
5,SKU: 5227876,Добриво універсальне грунтове,1 149 грн,"1 кг, 10 кг, 3 кг"
6,SKU: 32237,Добриво для декоративних листових,415 грн,"1 кг, 3 кг"
7,SKU: 4165215,Добриво для вічнозелених дерев та кущів,1 149 грн,"1 кг, 10 кг, 3 кг"
8,SKU: 682645,Добриво універсальне грунтове,415 грн,"1 кг, 10 кг, 3 кг"
9,SKU: 7435,Добриво універсальне грунтове,173 грн,"1 кг, 10 кг, 3 кг"
10,SKU: 9354141,Добриво для газону,415 грн,"1 кг, 10 кг, 3 кг"
11,SKU: 1955,Добриво для вічнозелених дерев та кущів,173 грн,"1 кг, 10 кг, 3 кг"
12,SKU: 455799,Добриво для газону,173 грн,"1 кг, 10 кг, 3 кг"
13,SKU: 991645,Добриво для декоративних листових,173 грн,"1 кг, 3 кг"
14,SKU: 17477,Добриво універсальне грунтове,1 149 грн,"1 кг, 10 кг, 3 кг"
15,SKU: 7143174,Добриво для газону,415 грн,"1 кг, 10 кг, 3 кг"
16,SKU: 3593,Добриво для полуниці,173 грн,1 кг
17,SKU: 4738184,Добриво для вічнозелених дерев та кущів,415 грн,"1 кг, 10 кг, 3 кг"
18,SKU: 3177412,Добриво для фруктових та горіхових дерев,173 грн,"1 кг, 3 кг"
19,SKU: 16762,Добриво для газону,1 149 грн,"1 кг, 10 кг, 3 кг"
20,SKU: 78747,Добриво для декоративних листових,415 грн,"1 кг, 3 кг"
21,SKU: 5218,Добриво для вічнозелених дерев та кущів,1 149 грн,"1 кг, 10 кг, 3 кг"
22,SKU: 33486,Добриво для декоративних листових,173 грн,"1 кг, 3 кг"
23,SKU: 198742,Добриво для овочів,415 грн,"1 кг, 3 кг"
24,SKU: 797756,Добриво для винограду,173 грн,1 кг
25,SKU: 726319,Добриво для вічнозелених дерев та кущів,415 грн,"1 кг, 10 кг, 3 кг"
26,SKU: 789868,Добриво для газону,155 грн,"1 кг, 10 кг, 3 кг"
27,SKU: 88255,Добриво для овочів,173 грн,"1 кг, 3 кг"
28,SKU: 68183,Добриво для розсади,173 грн,1 кг
29,SKU: 5656841,Добриво для тепличних овочів,415 грн,"1 кг, 3 кг"
30,SKU: 2217672,Добриво для троянд,173 грн,1 кг
31,SKU: 8362626,Добриво для вічнозелених дерев та кущів,155 грн,"1 кг, 10 кг, 3 кг"
32,SKU: 375738,Добриво для газону,1 149 грн,"1 кг, 10 кг, 3 кг"
33,SKU: 51561,Добриво для тепличних овочів,173 грн,"1 кг, 3 кг"

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [180]:
import sqlite3
import pandas as pd

con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute('SELECT * from Customers ')

rows=curs.fetchall()
for row in rows:
    print(row)
curs.execute('SELECT * from OrderItems')
rows=curs.fetchall()
for row in rows:
    print(row)
curs.execute('SELECT * from Orders')
rows=curs.fetchall()
for row in rows:
    print(row)
curs.execute('SELECT * from Products')
rows=curs.fetchall()
for row in rows:
    print(row)
curs.execute('SELECT * from Vendors')
rows=curs.fetchall()
for row in rows:
    print(row)
    con.close()

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)
(20005, 1, 'BR01', 100, 5.49)
(20005, 2, 'BR03', 100, 10.99)
(20006, 1, 'BR01', 20, 5.99)
(20006, 2, 'BR02', 10, 8.99)
(20006, 3, 'BR03', 10, 11.99)
(20007, 1, 'BR03', 50, 11.49)
(20007, 2, 'BNBG01', 100, 2.99)
(20007, 3, 'BNBG02', 100, 2.99)
(20007, 4, 'BNBG03', 100, 2.99)
(20007, 5, 'RGAN01', 50, 4.49)
(20008, 1, 'RGAN01', 5, 4.99)
(20008, 2, 'BR03', 5, 11.99)
(20008, 3, 'BNBG01', 10, 3.49)
(20008, 4, 'BNBG02', 10, 3.49)
(20008, 5, 'BNBG03', 10, 3.49)
(20009, 1, 'BNBG01', 250, 2.49)
(20009, 2, 'BNBG02', 250, 2.49)
(20009, 3, 'BNBG03', 250, 2.49)
(20005, '2012-05-01', '1000000001')
(20006, '2012-01-12', '1000000003')
(20007, '2012-01-30', '1000000004')
(20008, '2012-02-03', '1000000005')
(20009, '2012-02-08', '1000000001')
('BR01', 'BRS01', '8 inch teddy bear', 5.99, '8 inch teddy bear, comes with cap and jacket')
('BR02', 'BRS01', '12 inch teddy bear', 8.99, '12 inch teddy bear, comes with cap and jacket')
('BR03', 'BRS01', '18 inch teddy bear', 11.99, '18 inch teddy bear, comes with cap and jacket')
('BNBG01', 'DLL01', 'Fish bean bag toy', 3.49, 'Fish bean bag toy, complete with bean bag worms with which to feed it')
('BNBG02', 'DLL01', 'Bird bean bag toy', 3.49, 'Bird bean bag toy, eggs are not included')
('BNBG03', 'DLL01', 'Rabbit bean bag toy', 3.49, 'Rabbit bean bag toy, comes with bean bag carrots')
('RGAN01', 'DLL01', 'Raggedy Ann', 4.99, '18 inch Raggedy Ann doll')
('RYL01', 'FNG01', 'King doll', 9.49, '12 inch king doll with royal garments and crown')
('RYL02', 'FNG01', 'Queen doll', 9.49, '12 inch queen doll with royal garments and crown')
('BRS01', 'Bears R Us', '123 Main Street', 'Bear Town', 'MI', '44444', 'USA')
('BRE02', 'Bear Emporium', '500 Park Street', 'Anytown', 'OH', '44333', 'USA')
('DLL01', 'Doll House Inc.', '555 High Street', 'Dollsville', 'CA', '99999', 'USA')
('FRB01', 'Furball Inc.', '1000 5th Avenue', 'New York', 'NY', '11111', 'USA')
('FNG01', 'Fun and Games', '42 Galaxy Road', 'London', None, 'N16 6PS', 'England')
('JTS01', 'Jouets et ours', '1 Rue Amusement', 'Paris', None, '45678', 'France')

2. Виведіть перелік всіх таблиць.

In [177]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute('SELECT name from sqlite_master where type="table"')
print(curs.fetchall())
con.close()

[('Customers',), ('OrderItems',), ('Orders',), ('Products',), ('Vendors',)]

3. Список всіх cust_id з таблиці Customers table.

In [179]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT cust_id FROM Customers")
rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

4. Всю таблицю Customers table

In [180]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT * FROM Customers")
rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

5. Список клієнтів (cust_names) відсортованих від Z до A

In [183]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT cust_name FROM Customers ORDER BY cust_name DESC")
rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [192]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT cust_id,order_date FROM Orders ORDER BY cust_id, order_num")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('1000000001', '2012-05-01')
('1000000001', '2012-02-08')
('1000000003', '2012-01-12')
('1000000004', '2012-01-30')
('1000000005', '2012-02-03')

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [188]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT prod_id,quantity,item_price FROM OrderItems ORDER BY quantity DESC, item_price DESC")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('BNBG01', 250, 2.49)
('BNBG02', 250, 2.49)
('BNBG03', 250, 2.49)
('BR03', 100, 10.99)
('BR01', 100, 5.49)
('BNBG01', 100, 2.99)
('BNBG02', 100, 2.99)
('BNBG03', 100, 2.99)
('BR03', 50, 11.49)
('RGAN01', 50, 4.49)
('BR01', 20, 5.99)
('BR03', 10, 11.99)
('BR02', 10, 8.99)
('BNBG01', 10, 3.49)
('BNBG02', 10, 3.49)
('BNBG03', 10, 3.49)
('BR03', 5, 11.99)
('RGAN01', 5, 4.99)

8. Товар (з таблиці Products), ціна якого становить 9.49

In [190]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT prod_name,prod_price FROM Products WHERE prod_price='9.49'")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('King doll', 9.49)
('Queen doll', 9.49)

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

In [272]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT prod_name,prod_price FROM Products WHERE prod_price BETWEEN 3 AND 6 ORDER BY prod_price")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

10. Кількість товару, що було продано

In [195]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT SUM(order_item) FROM OrderItems ")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

(45,)

11. Кількість найменувань товару, ціна якого більша за 4

In [203]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT SUM(quantity) FROM OrderItems WHERE item_price > 4 ")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

(350,)

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

In [271]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT prod_name, prod_price FROM Products ORDER BY prod_price DESC LIMIT 3")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

In [12]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT COUNT(order_num),cust_name as count FROM Orders LEFT OUTER JOIN Customers ON Customers.cust_id=Orders.cust_id GROUP BY Orders.cust_id HAVING count>0")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

(2, 'Village Toys')
(1, 'Fun4All')
(1, 'Fun4All')
(1, 'The Toy Store')

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

In [9]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
curs.execute("SELECT cust_name , COUNT(order_num) as Number FROM Customers  JOIN Orders AS o USING (cust_id) GROUP BY (o.cust_id) ORDER BY Number")

rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('Fun4All', 1)
('Fun4All', 1)
('The Toy Store', 1)
('Village Toys', 2)

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

In [270]:
import sqlite3
con=sqlite3.connect('tysql.sqlite')
curs = con.cursor()
a=curs.execute("SELECT prod_name, prod_price FROM Products WHERE prod_price < 5 UNION SELECT prod_name, prod_price FROM Products WHERE prod_price > 5")
rows=curs.fetchall()
for row in rows:
    print(row)
con.close()

('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('8 inch teddy bear', 5.99)
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('King doll', 9.49)
('Queen doll', 9.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди

### 1
SELECT model,speed,hd 
FROM PC 
WHERE price<500
### 2 
SELECT DISTINCT maker 
FROM product 
WHERE type='Printer'
### 3
SELECT model,ram,screen 
FROM Laptop 
WHERE price>1000
### 4 
SELECT * 
FROM printer 
WHERE color='y'
### 5 
SELECT model,speed,hd 
FROM PC 
WHERE (cd='12x' OR cd='24x') AND price<600
### 6 
SELECT DISTINCT Product.maker, Laptop.speed 
FROM PRODUCT INNER JOIN
Laptop ON Laptop.model = Product.model
WHERE Laptop.hd>=10
ORDER BY maker
### 7 
SELECT model, price
FROM PC
WHERE model IN(SELECT model 
	From Product
	WHERE maker='B'
)
UNION
SELECT model, price
FROM LAPTOP
WHERE model IN(SELECT model 
	From Product
	WHERE maker='B'
)
UNION
SELECT model, price
FROM Printer
WHERE model IN(SELECT model 
	From Product
	WHERE maker='B'
)

### 8 
SELECT DISTINCT maker
FROM Product
WHERE type='PC'

EXCEPT

SELECT maker
FROM Product
WHERE type = 'Laptop'
### 9 
SELECT DISTINCT maker
FROM Product RIGHT JOIN
PC ON Product.model = PC.model
WHERE speed>=450

### 10 
SELECT model,price
FROM Printer
GROUP BY model,price
HAVING price=(SELECT MAX(price)
FROM Printer)
### 11
SELECT AVG(speed)
FROM PC

### 12 
SELECT AVG(SPEED)
FROM Laptop
WHERE price>1000
### 13 
SELECT AVG(speed)
FROM PC RIGHT JOIN 
Product ON PC.model=Product.model
WHERE Product.maker='A'

### 14 
SELECT Ships.class,name,Classes.country
FROM Ships INNER JOIN 
Classes ON Ships.class=Classes.class
WHERE Classes.numGuns>=10

### 15 
SELECT hd
FROM PC
GROUP BY hd
HAVING COUNT(hd)>=2

### 16 
SELECT DISTINCT Bigger.model AS model,Smaller.model AS model, Bigger.speed,Bigger.ram
FROM PC AS Bigger, PC Smaller
WHERE Bigger.speed = Smaller.speed AND
Bigger.ram = Smaller.ram AND
Bigger.model>Smaller.model
### 17 
SELECT DISTINCT type,Laptop.model,speed
FROM Laptop, Product
WHERE Product.model=Laptop.model AND
speed < (SELECT MIN(speed) from PC)

### 18 
SELECT DISTINCT maker,price
FROM PRODUCT JOIN 
Printer ON Product.model=Printer.model
WHERE Printer.color='y'
AND Printer.price=(SELECT min(p.price)
FROM Printer p
WHERE p.color='y')

### 19 
SELECT DISTINCT maker,AVG(screen)
FROM Product JOIN
Laptop ON Product.model = Laptop.model
GROUP BY maker
### 20 
SELECT  maker, COUNT(model)
From Product

WHERE type='PC' 

GROUP BY maker,type
HAVING COUNT(model)>=3
### 21 
SELECT DISTINCT maker,MAX(price)
FROM Product JOIN
PC ON PC.model=Product.model
GROUP BY maker
### 22 
SELECT speed,AVG(price)
FROM PC
WHERE speed > 600
GROUP BY speed

### 23 
SELECT DISTINCT Product.maker 
FROM Product, PC
WHERE Product.model=PC.model
AND Product.type='PC'
AND PC.speed>=750
AND EXISTS(SELECT 'x' from Laptop,Product p
WHERE p.model=Laptop.model
AND p.type='Laptop'
AND p.maker=Product.maker
AND Laptop.speed>=750
)

### 24 
SELECT DISTINCT Product.model
FROM Product,PC,Laptop,Printer
WHERE Product.model IN (PC.model,Laptop.model,Printer.model) AND
PC.price=(select max(PC.price) from PC) AND
Laptop.price=(select max(Laptop.price) from Laptop) AND
Printer.price=(select max(Printer.price) from Printer) AND(
(PC.price>=Laptop.price AND PC.price>=Printer.price AND Product.model=PC.model) OR
(Laptop.price>=PC.price AND Laptop.price>=Printer.price AND Product.model=Laptop.model) OR
(Printer.price>=PC.price AND Printer.price>=Laptop.price AND Product.model=Printer.model)
)

### 25 
SELECT DISTINCT Product.maker
FROM Product,PC
WHERE Product.type='PC' AND
Product.model=PC.model AND 
PC.ram=(SELECT MIN(PC.ram) FROM PC WHERE ram<>0) AND 
PC.speed=(SELECT MAX(PC.speed) FROM PC 
WHERE PC.ram=(SELECT MIN(PC.ram) FROM PC WHERE ram<>0)) AND 
EXISTS(select 'x' from product p
where p.type='Printer'
and p.maker=product.maker)

### 26 
SELECT AVG(price) 
FROM(SELECT price FROM PC WHERE model IN(
SELECT model FROM Product WHERE maker='A' AND type='PC')
UNION ALL
SELECT price FROM laptop WHERE model IN(
SELECT model FROM product WHERE maker='A' AND type='Laptop')
) as result
### 27 
SELECT Product.maker,SUM(PC.hd)/count(*)
FROM Product, PC
WHERE Product.type='PC' AND
Product.model=PC.model AND 
EXISTS(select 'x' FROM Product p
WHERE p.maker=Product.maker AND 
p.type='Printer')
GROUP BY Product.maker

### 28
SELECT COUNT(*)
FROM (SELECT maker
FROM product 
GROUP BY maker
HAVING COUNT(model)=1
) as result

### 29 
SELECT Income_o.point, Income_o.date,SUM(inc),SUM(out)
FROM Income_o LEFT JOIN
Outcome_O ON Income_o.point=Outcome_o.point AND
Income_o.date=Outcome_o.date
GROUP BY Income_o.point,Income_o.date
UNION
SELECT Outcome_o.point,Outcome_o.date,SUM(inc),SUM(out)
FROM Outcome_o LEFT JOIN
Income_o ON Income_o.point = Outcome_o.point AND
Income_o.date=Outcome_o.date
GROUP BY Outcome_o.point,Outcome_o.date

### 30 
SELECT DISTINCT point,date,SUM(out) AS out,SUM(inc) AS inc 
FROM(SELECT Income.point,Income.date,out,inc
FROM Income LEFT JOIN
Outcome ON Income.point = Outcome.point AND 
Income.date=Outcome.date AND
Income.code=Outcome.code
UNION ALL
SELECT Outcome.point, Outcome.date,out, inc
FROM Outcome LEFT JOIN
Income ON Income.point = Outcome.point AND 
Income.date=Outcome.date AND
Income.code=Outcome.code) AS t
GROUP BY point,date